body{
    background-color: rgb(57, 114, 238);
    justify-items: center;
    padding: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    background-color: aliceblue;
    padding: 2%;
    border-radius: 2%;
    font-size: large;
}

.tabuada{
    display: inline-block;
    margin-inline: 40px;
    text-align: justify;
}

.titulos{
    color: rgb(57, 114, 238);
    text-align: center;
}


